[submodule ".registry"]
	path = .registry
	url = https://github.com/mdsumner/mdsumner.r-universe.dev
	branch = HEAD
[submodule "silicate"]
	path = silicate
	url = https://github.com/hypertidy/silicate
